{% extends "record.html" %}

{% block content %}
    <h3>Enter stuff:</h3>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.title.label }}</p>
        <p>{{ form.title}}</p>
        <p>
            {{ form.content.label() }}
            {{ form.content(cols='20', rows='4', id='larger')}}
        </p>
        <p>{{ form.submit() }} </p>
    </form>
{% endblock %}